@CHARSET "UTF-8";

.contentForm{
	width:100%;
	height:100%;
}

.mainForm {
	border-radius: 20px;
	padding:40px;
	background-color: #F2F2F2;
   	margin:5% 20%;
}

.box {
	width: 100%;
}

.inputForm {
	width: 98%;
	height: 30px;
	border-radius: 20px;
	box-shadow: 0 0 8px steelblue;
	margin: 10px;
	margin-bottom: 20px;
}